# --------------------------------------
# Node (frontend)
# --------------------------------------
node_modules/
dist/
build/
.vite/

# --------------------------------------
# Python (backend)
# --------------------------------------
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log


# --------------------------------------
# System + Editor trash
# --------------------------------------
.DS_Store
.idea/
.vscode/
Thumbs.db
